<div class="tweet">

 <h4>@<%= tweet.user.username %> (<%= tweet.user.first_name %> <%= tweet.user.last_name %>)</h4>

 <p><%= tweet.body %></p>

 <p>Favorited: <%= tweet.favorites_count %></p>

</div>